<!--- NAVBAR -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="#">Portafolio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll"
        aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll">
            <li>
                <a href="#" class="nav-link active" id="soy" routerLinkActive="active">{{ 'quien.soy' | translate }}</a>
            </li>
            <li>
                <a href="#" class="nav-link active" id="down" routerLinkActive="active">{{ 'Habilidades' | translate
                    }}</a>
            </li>
            <li>
                <a href="#" class="nav-link active" id="down1" routerLinkActive="active">{{ 'Framework' | translate
                    }}</a>
            </li>
            <li>
                <a href="#" class="nav-link active" id="down2" routerLinkActive="active">{{ 'Proyectos' | translate
                    }}</a>
            </li>
        </ul>
        <form class="d-flex">
            <a href="#modal1" type="button" class="form-inline btn btn-outline-light mr-2"
                data-toggle="modal">{{'BIENVENIDO.boton.Idioma' | translate }}</a>
            <a href="#contacto" type="button" class="form-inline btn btn-outline-light"
                data-toggle="modal">{{'BIENVENIDO.boton.contacto' | translate }}</a>
        </form>
    </div>
</nav>

<div class="parallax4 mb-5">
    <div class="text-center" style="padding: 150px; color: white;">
        <h1>{{ 'BIENVENIDO' | translate }}</h1>
        <h3>{{ 'BIENVENIDO.porfolio' | translate }} <br> {{ 'BIENVENIDO.Descripcion' | translate }}</h3>
    </div>
</div>

<!-- Toast Lenguaje-->
<div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
        <div class="toast-header">
            <i class="bi bi-check-circle"></i>
            <strong class="mr-auto">{{ 'Language.toast.title' | translate }}</strong>
        </div>
        <div class="toast-body">
            <div class="alert alert-success" role="alert">
                {{ 'Language.toast.descripcion' | translate }}
            </div>
        </div>
    </div>
</div>

<!-- Modal Lenguaje-->
<div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ 'Language.title' | translate }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container center-align">
                    <div class="row">
                        <div class="col s12">
                            <div class="row">
                                <div class="col m5 s12">
                                    <a (click)="useLanguage('es')" data-container="body" data-toggle="popover"
                                        data-placement="top" data-trigger="hover" data-content="Spanish"><img
                                            loading="lazy" alt="Error Image" src="assets/Language/spanish.svg"
                                            style="width: 100px; height: 100px;" id="liveToastBtnES" /></a>
                                </div>

                                <div class="col m5 s12">
                                    <a (click)="useLanguage('en')" data-container="body" data-toggle="popover"
                                        data-placement="top" data-trigger="hover" data-content="English"><img
                                            loading="lazy" alt="Error Image" src="assets/Language/english.svg"
                                            style="width: 100px; height: 100px;" id="liveToastBtnEN" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'SALIR' | translate
                    }}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Contacto-->
<div class="modal fade" id="contacto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ 'DATOS.DE.CONTACTO' | translate }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row row-cols-1 row-cols-md-2">
                    <div class="col mb-3">
                        <a class="btn btn-success" href="mailto:jhonatan1153@hotmail.com"><img
                                src="assets/img/email.svg" alt="Error Image" style="width: 30px; height: 30px;">
                            CORREO</a>
                    </div>
                    <div class="col mb-3">
                        <a class="btn btn-success" href="https://www.facebook.com/jhonatan.fernandez.munos/"
                            target="_blanck"><img src="assets/img/facebook.svg" alt="Error Image"
                                style="width: 30px; height: 30px;">
                            FACEBOOK</a>
                    </div>
                    <div class="col mb-3">
                        <a class="btn btn-success" href="https://www.instagram.com/jhonatan.fernandez/"
                            target="_blanck"><img src="assets/img/instagram.svg" alt="Error Image"
                                style="width: 30px; height: 30px;">
                            INSTAGRAM</a>
                    </div>
                    <div class="col mb-3">
                        <a class="btn btn-success" href="https://api.whatsapp.com/send?phone=573114360830/"
                            target="_blanck"><img src="assets/img/whatsapp.svg" alt="Error Image"
                                style="width: 30px; height: 30px;">
                            WHATSAPP</a>
                    </div>
                    <div class="col mb-3">
                        <a class="btn btn-success" href="https://www.linkedin.com/in/jhonatanfernandezmu%C3%B1oz"
                            target="_blanck"><img src="assets/img/linkedin.svg" alt="Error Image"
                                style="width: 30px; height: 30px;">
                            LINKEDIN</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'SALIR' | translate
                    }}</button>
            </div>
        </div>
    </div>
</div>

<!--- PRESENTACION PERSONAL Y PERFIL PROFESIONAL  -->
<div class="container ">
    <div class="section">
        <h3>
            <p style="text-align: center;" id="quiensoy">{{ 'sobre.mi' | translate }}</p>
        </h3>
        <div class="row ">

            <div class="col-sm-6">
                <img height="100%" width="100%" alt="Error Image" src="assets/img/yo.jpg">
            </div>

            <div class="col-sm-6" style=" font-family:Arial">
                <h2 class="center blue-text lighten-2"></h2>
                <h5><strong>{{ 'sobre.mi.nombre.es' | translate }}</strong></h5>
                <strong>{{ 'sobre.mi.nombre' | translate }}</strong>
                <p class="light">{{ 'sobre.mi.descripcion' | translate }}</p>
                <h5><strong>{{ 'sobre.perfil.profecional' | translate }}</strong></h5>
                <p class="light">{{ 'sobre.mi.perfil.profecional.descripcion' | translate }}</p>
                <a class="btn btn-primary" href="assets/HV/Hoja de Vida.pdf" target="_blank"><i
                        class="bi bi-cloud-arrow-down-fill"></i> {{ 'DESCARGA.HV' |
                    translate }}</a>
            </div>
        </div>
    </div>
</div>

<!---  DOCUMENTACION --->
<div class="container center-align mb-4">
    <div class="section">
        <div class="row">
            <div class="col-sm-12">
                <h1>
                    <p style="text-align: center;">{{ 'Certificaciones' | translate }}</p>
                </h1>
                <div class="row">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                        <select id="certificadoItem" class="form-control">
                            <option selected disabled>SELECCIONE CERTIFICACIONES A FILTRAR</option>
                            <option value="TODO">TODAS LAS CERTIFICACIONES</option>
                            <option value="SENA">SENA CERTIFICACIONES</option>
                            <option value="GOOGLE">GOOGLE CERTIFICACIONES</option>
                            <option value="DATABASE">BASE DE DATOS CERTIFICACIONES</option>
                            <option value="OTROS">OTRAS CERTIFICACIONES</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <app-certificaciones [DataEntrante]='card' *ngFor='let card of Certificaciones'>
            </app-certificaciones>
        </div>
    </div>
</div>

<!---  Habilidades tecnológicas --->
<div class="container center-align mb-4">
    <div class="section">
        <div class="row">
            <div class="col-sm-12">
                <h1>
                    <p style="text-align: center;" id="habilidades">{{ 'Habilidades.tecnológicas' | translate }}</p>
                </h1>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <app-card [DataEntrante]='card' *ngFor='let card of habilidad'></app-card>
            </div>
        </div>
    </div>
</div>

<!--- CMS --->
<div class="container center-align mb-4">
    <div class="section">
        <div class="row">
            <div class="col-sm-12">
                <h1>
                    <p style="text-align: center;">{{ 'CMS' | translate }}</p>
                </h1>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <app-card [DataEntrante]='card' *ngFor='let card of CMS'></app-card>
            </div>
        </div>
    </div>
</div>

<!--- Framework --->
<div class="container center-align mb-4">
    <div class="section">
        <div class="row">
            <div class="col-sm-12">
                <h1>
                    <p style="text-align: center;" id="framework">{{ 'Framework' | translate }}</p>
                </h1>
            </div>
        </div>
        <div class="row">
            <app-card [DataEntrante]='card' *ngFor='let card of framework'></app-card>
        </div>
    </div>
</div>

<!--- DataBase --->
<div class="container center-align mb-4">
    <div class="section">
        <div class="row">
            <div class="col-sm-12">
                <h1>
                    <p style="text-align: center;">{{ 'DataBase' | translate }}</p>
                </h1>
            </div>
        </div>
        <div class="row">
            <app-card [DataEntrante]='card' *ngFor='let card of Databases'></app-card>
        </div>
    </div>
</div>

<!--- parallax --->
<div class="parallax1 mb-4"></div>

<!--- Proyectos --->
<div class="container center-align mb-4">
    <div class="section">
        <div class="row">
            <div class="col-sm-12">
                <h1>
                    <p style="text-align: center;" id="proyecto">{{ 'Proyectos.Realizados' | translate }}</p>
                </h1>
            </div>
        </div>
        <div class="row">
            <app-proyectos [DataEntrante]='card' *ngFor='let card of proyectos'></app-proyectos>
        </div>
    </div>
</div>

<!--- parallax --->
<div class="parallax2"></div>

<!-- Footer -->
<footer class="bg-primary text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase text-white">{{ 'footer.Porfafolio' | translate }}</h5>

                <p class="text-white">
                    {{ 'footer.Porfafolio.descripcion' | translate }}
                </p>
            </div>

        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 text-white" style="background-color: rgba(0, 0, 0, 0.2);">
        {{ 'Copyright' | translate }}
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->