body::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(122, 122, 122);    /* color of the scroll thumb */
}

.parallax {
    background-image: url("/assets/img/Presentacion.svg");
    min-height: 625px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ocean { 
      height: 200px;
      width:100%;
      overflow: hidden;
      position: absolute;
      bottom: 0;
      left: 0;
  }
  
  .wave {
    background: url("/assets/img/wave.svg") repeat-x; 
    position: absolute;
    bottom: -25px;
    width: 6400px;
    height: 100%;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }
  
  .wave:nth-of-type(2) {
    bottom: -25px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
  }
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  
  @keyframes swell {
    0%, 100% {
      transform: translateY(-25px);
    }
    50% {
      transform: translateY(5px);
    }
  }

.parallax1 {
    background-image: url("assets/img/parallax-Programming1.svg");
    min-height: 580px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mi {
    display: block;
    background: #949494;
    width: 300px;
    height: 300px;
    border-radius: 1px;
    margin: 10px;
    display: inline-block;
    align: center;
    transition: all .25s linear;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
}

.card {
    display: block;
    background: #FFFFFF;
    border-radius: 1px;
    margin: 10px;
    display: inline-block;
    align: center;
    transition: all .25s linear;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
}

.card:hover {
    box-shadow: -1px 10px 29px 0px rgba(59, 157, 250, 0.8);
}

h2 {
    color: #fff;
    font-size: 3.2em;
    font-weight: bold;
    opacity: 0.85;
    text-align: center;
    text-shadow: 1px 1px 1px #ccc;
    text-transform: uppercase;
}

h4 {
    color: #fff;
    font-weight: bold;
    opacity: 0.85;
    text-shadow: 1px 1px 1px #ccc;
    text-transform: uppercase;
}

section {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100% !important;
}