.parallax4 {
    background-image: url("/assets/img/Presentacion.svg");
    min-height: 650px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax1 {
    /* The image used */
    background-image: url("assets/img/parallax-Programming1.svg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .parallax2 {
    /* The image used */
    background-image: url("assets/img/parallax-Programming2.svg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
      .mi {
      display: block;
      background: #949494;
      width: 300px;
      height: 300px;
      border-radius: 1px;
      margin: 10px;
      display: inline-block;
      align: center;
      transition: all .25s linear;
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
  }
  
  .card {
      display: block;
      background: #FFFFFF;
      border-radius: 1px;
      margin: 10px;
      display: inline-block;
      align: center;
      transition: all .25s linear;
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
  }
  
  .card:hover {
      box-shadow: -1px 10px 29px 0px rgba(59, 157, 250, 0.8);
  }
  
  h2 {
      color: #fff;
      font-size: 3.2em;
      font-weight: bold;
      opacity: 0.85;
      text-align: center;
      text-shadow: 1px 1px 1px #ccc;
      text-transform: uppercase;
  }
  
  h4 {
      color: #fff;
      font-weight: bold;
      opacity: 0.85;
      text-shadow: 1px 1px 1px #ccc;
      text-transform: uppercase;
  }
  
  section {
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      padding: 0;
      position: relative;
      width: 100% !important;
  }